<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerija slika</title>
    <link rel="stylesheet" href="/style/style_slike.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

<nav aria-labelledby="primarna-navigacija">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Menu</a>
            <div class="dropdown-content" id="primarna-navigacija">
              <a href="../index.html">Pocetna</a>
              <a href="/pages/grafikon.html">Grafikon</a>
              <a href="#">Galerija</a>
            </div>
        </li>
    </ul>
</nav>

<section class="galerija"> 
    <h1>Galerija slika</h1>

    <div class="img-gallery-magnific">
        <% images.forEach(image => { %>
            <figure class="magnific-img">
                <a href="#<%= image.id %>" class="image-popup-vertical-fit">
                    <img src="<%= image.url %>" alt="<%= image.title %>" loading="lazy">
                </a>
                <figcaption class="img-description"><%= image.title %></figcaption>
            </figure>
        <% }); %>
    </div>
</section>

<% images.forEach(image => { %>
    <div id="<%= image.id %>" class="lightbox">
        <a href="#" class="close">&times;</a>
        <img src="<%= image.url %>" alt="<%= image.title %>">
    </div>
<% }); %>

</body>
</html>